## Installing Library

In [1]:
pip install pandas

^C
Note: you may need to restart the kernel to use updated packages.

## Importing library

In [19]:
import pandas as pd

## Version check

In [20]:
print(pd.__version__)

1.2.4

## Series

In [21]:
alpha = pd.Series([1,2,3,4],index=['A','B','C','D'])

In [22]:
alpha

A    1
B    2
C    3
D    4
dtype: int64

In [23]:
alpha = pd.Series([0.5,0.4,0.3,0.2],index=['A','B','C','D'])

In [24]:
alpha

A    0.5
B    0.4
C    0.3
D    0.2
dtype: float64

In [25]:
data = {'Games':['GTA V','NFS Rivals','Cricket 19'],'Ratings':[9,7,9]}

In [26]:
df = pd.DataFrame(data, columns=['Games','Ratings'])

In [27]:
df

        Games  Ratings
0       GTA V        9
1  NFS Rivals        7
2  Cricket 19        9

## Dataframe with Random Numbers

### Importing Numpy

In [32]:
import numpy as np

In [33]:
random = pd.DataFRame(np.random.randint(0,300,size=(20,4)),columns=list('ABCD'))

AttributeError: module 'pandas' has no attribute 'DataFRame'